.App {
  max-width: 860px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: rgba(250, 137, 31, 0.4);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  margin-bottom: 1em;
  transition: 0.2s;
}

button:hover {
  background-color: #fa891f;
}

button:active {
  transform: scale(0.98);
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}